<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      .cnodeTabel_ul li{
      float: left;
      list-style: none;
      color:#80bd01;
      padding:0 10px;
      cursor: pointer;
    }
    .cnodeTabel_ul li.on{
      background-color: #80bd01;
      color: white;
    }
    .cnodeCon_ul li{
      list-style: none;
      height: 50px;
    }
    .cnodeCon_ul li span{
      margin: 0 20px;
    }
    .cnodePage li{
      float: left;
      list-style: none;
      height: 40px;
      display: block;
      width: 40px;
      line-height: 40px;
      border: 1px solid #dddddd;
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <cnode-tabel :tab_list='tab_list' v-model='index'></cnode-tabel>
    <br>
    <cnode-con :data_='data1'></cnode-con>
    <br>
    <cnode-page  v-model='page'></cnode-page>
  </div>

  <template id="cnodeTabel">
    <ul class="cnodeTabel_ul">
      <li :class="{'on':value==i}" v-for='(item,i) in tab_list' :key='item.id' v-text='item.name' @click='Tabel(i)'></li>
    </ul>
  </template>
  <template id="cnodeCon">
    <ul class="cnodeCon_ul">
      <li v-for='(item,i) in data_' :key = 'i'>
        <span v-text='item.author.loginname'>loginname</span>
        <span v-text='item.reply_count'>reply_count</span>/
        <span v-text='item.visit_count'>visit_count</span>
        <span v-text='item.tab'>tab</span>
        <span v-text='item.title'>title</span>
        <span v-text='item.create_at'>create_at</span>
      </li>
    </ul>
  </template>
  <template id="cnodePage">
    <ul class="cnodePage">
      <li @click='page_click()'><<</li>
      <li>***</li>
      <li v-text='value-2' @click='page_click(-2)'></li>
      <li v-text='value-1' @click='page_click(-1)'></li>
      <li v-text='value'></li>
      <li v-text='value+1' @click='page_click(+1)'></li>
      <li v-text='value+2' @click='page_click(+2)'></li>
      <li>***</li>
      <li @click='page_click()'>>></li>
    </ul>
  </template>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    Vue.component('cnode-tabel',{
      template: '#cnodeTabel',
      props: {
        value:{
          type: Number,
          required: true,
        },
        tab_list:{
          type: Array,
          required: true,
        }
      },
      methods:{
      },
      data(){
        return{
        };
      },
      methods: {
        Tabel(i){
          this.$emit("input",i);
          let xhr = new XMLHttpRequest();
          xhr.open('get', 'https://cnodejs.org/api/v1/topics?page=1&tab='+this.tab_list[i].tab+'&limit=8&mdrender=true&_ ' + Date.now());
          xhr.send(null);
          xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
              if (xhr.status == 200) {
                let json = JSON.parse(xhr.responseText);
                app.data1 = json.data;
              } else {
                alert(xhr.status + '2请求失败');
              };
            };
          }

        },
        
      }
    })
    Vue.component('cnode-con',{
      template: '#cnodeCon',
      props: {
        // title: {
        //   type: String,
        //   required: true
        // },
        // top: {
        //   type: Boolean,
        //   required: true,
        // },
        // reply_count: {
        //   type: Number,
        //   required: true
        // },
        // visit_count: {
        //   type: Number,
        //   required: true
        // },
        // create_at: {
        //   type: String,
        //   required: true
        // },
        // loginname: {
        //   type: String,
        //   required: true
        // },
        // avatar_url: {
        //   type: String,
        //   required: true
        // }
        data_: {
          type: Array,
          required: true,
          date:new Date(),
        }
      },
      methods:{
      },
      data(){
        return{
        }
      }
    })
    Vue.component('cnode-page',{
      template: '#cnodePage',
      props: {
        value: {
          type: Number,
          required: true,
        }
      },
      data(){
        return{};
      },
      methods: {
        page_click(i){
          this.$emit('input',app.page+i)
          let xhr = new XMLHttpRequest();
          xhr.open('get', 'https://cnodejs.org/api/v1/topics?page='+app.page+'&tab='+app.tab_list[app.index].tab+'&limit=8&mdrender=true&_ ' + Date.now());
          xhr.send(null);
          xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
              if (xhr.status == 200) {
                let json = JSON.parse(xhr.responseText);
                app.data1 = json.data;
              } else {
                alert(xhr.status + '2请求失败');
              };
            };
          }
        }
      },
    })
   var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        limit: 8,
        mdrender: true,
        index: 0,
        data1:[],
        tab_list: [{ id:1, tab:'', name:'全部' },
          { id:2, tab:'good', name:'精华' },
          { id:3, tab:'share', name:'分享' },
          { id:4, tab:'ask', name:'问答' },
          { id:5, tab:'job', name:'招聘' }],
      },
      methods: {
      },
      mounted: function () {
        let xhr = new XMLHttpRequest();
        xhr.open('get', 'https://cnodejs.org/api/v1/topics?page='+this.page+'&tab='+this.tab_list[this.index].tab+'&limit='+this.limit+'&mdrender=true&_ ' + Date.now());
        xhr.send(null);
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4) {
            if (xhr.status == 200) {
              let json = JSON.parse(xhr.responseText);
              app.data1 = json.data;
            } else {
              alert(xhr.status + '1请求失败');
            };
          };
        }
      },

    })
  </script>
</body>
</html>